.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}

.main-nav__items {
    display: flex;
    padding: 10px;
    list-style: none;
    justify-content: space-between;
}

.main-nav__item {
    display: flex;
    margin: 15px;
    color: white;
    text-decoration: none;
}